body {
  background-color: #18181A;
  color: #777;
}

a, .auth-user a {
  color: #E9804D;
}

a:hover, .auth-user a:hover {
  color: #EB6123;
}

h1 {
  color: #5E32BA;
}

h2, h3, h4, h5, h6 {
  color: #96C457;
}

.vote_button {
  background-color: #5e32ba;
  color: #bfda7a;
  padding: .5em 1em;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}
