body {
  background-color: #18181A;
  color: #777;
}

a, .auth-user a {
  color: #E9804D;
}

a:hover, .auth-user a:hover {
  color: #EB6123;
}

h1 {
  color: #5E32BA;
  text-shadow: 0px 2px 5px RGB(94, 50, 186);
}

h2, h3, h4, h5, h6 {
  color: #96C457;
}

a.vote_button {
  background-color: #5e32ba;
  color: #96c457 !important;
  padding: .5em 1em;
  border-radius: 4px;
  text-decoration: none !important;
  text-transform: uppercase;
}

a.vote_button:hover {
  box-shadow: 0px 2px 5px RGB(94, 50, 186);
  color: #bfda7a !important;
}

.cbFormTableRow, .cbFormTableEvenRow {
  background-color: #18181a !important;
}
